<!-- app/views/home/index.html.erb -->

<div class="container">
  <h1>Welcome to Your Project!</h1>

  <p>
    Thank you for visiting the home page of our awesome project. Here are some key points about what we're building:
  </p>

  <ul>
    <li><strong>Project Name:</strong> JobShop Manager System</li>
    <li><strong>Description:</strong> MetalMech Pro is an advanced software solution tailored for businesses in the metal-mechanic industry, offering comprehensive control over production processes, cost management, and efficiency optimization. This robust system is designed to streamline operations and enhance decision-making, ensuring a competitive edge in a dynamic market.</li>
    <li><strong>Features:</strong> List some key features of your project.</li>
    <li><strong>Technologies Used:</strong> Backend Ruby On Rails, Frontend VUE, with a Postgres Database.</li>
  </ul>

  <p>
    Feel free to explore and learn more about our project. If you have an account, you can <a href="/users/sign_in">sign in</a> to access additional features.
  </p>
</div>
